@model PagedList.IPagedList<QL_HDPHONGLAB.Models.THIETBI>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/vendor/iconfonts/mdi/css/materialdesignicons.min.css">

@{
    ViewBag.Title = "Thiết Bị";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style type="text/css">

    #father{
        width: 100%;
        overflow: auto;
    }
    table, th, td {
        border: 1px solid #868585;
    }

    table {
        border-collapse: collapse;
    }

        table tr:nth-child(odd) {
            background-color: beige;
        }

        table tr:nth-child(even) {
            background-color: blanchedalmond;
        }

        table tr:nth-child(1) {
            background-color: aquamarine;
        }

    .button:hover {
        background-color: chartreuse;
    }

    .button-main {
        display: flex;
        justify-content: space-between;
    }

    .button-dutru {
        align-items: flex-start;
        float: left;
    }

    .body-content {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    h3.total{
        text-align: center;
    }
    .dropdown-divider .nav .nav-item .nav-link {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: auto;
        margin-right: 0;
        color: #939393;
    }

    .rtl .dropdown-divider .nav .nav-item .nav-link {
        margin-left: 0;
        margin-right: auto;
    }

    .dropdown-divider .nav .nav-item .nav-link[aria-expanded="true"]:before {
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    .dropdown-divider .nav .nav-item.active > .nav-link .menu-title,
    .dropdown-divider .nav .nav-item.active > .nav-link {
        color: #fff;
    }

    .dropdown-divider-mini .dropdown-divider .nav .nav-item .nav-link {
        display: inline-block;
        margin-left: 5px;
        position: absolute;
        top: 50%;
        right: 20px;
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
</style>

<div class="body-content">
    <br />
    <h2>DANH SÁCH THIẾT BỊ TRUNG TÂM THÍ NGHIỆM THỰC HÀNH</h2>

    <div class="text-right" style="overflow: hidden; padding: 1px 0px 0px 0px; margin-top: -47px; margin-bottom: 10px;">
        <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("ExportToExcel", "THIETBIs")'"><i class="menu-icon mdi mdi-printer"></i></button>
    </div>

    <div class="button-main">
        <div class="button-dutru">
            <p class="btn btn-outline-danger btn-sm">@Html.ActionLink("Dự Trù", "Index", "DUTRUTHIETBIs")</p>
        </div>
        <div class="nhaphang">
            <p class="btn btn-outline-danger" style="text-decoration: none; align-items: center;">
                @Html.ActionLink("Nhập Hàng", "NhapKho2", "Kho")
            </p>
        </div>
        <div class="button-search">
            @using (Html.BeginForm())
            {
                <p>
                    Tìm kiếm: @Html.TextBox("SearchString")
                    <input class="button" placeholder="Nhập tên..." type="submit" value="Tìm" />
                </p>
            }
        </div>
        <div class="xuathang">
            <p class="btn btn-outline-danger" style="text-decoration: none; align-items: center;">
                @Html.ActionLink("Xuất Hàng", "ThemPhieuXuat2", "PhieuXuat")
            </p>
        </div>
        <div class="button-create">
            <p class="btn btn-outline-danger btn-sm">
                @Html.ActionLink("Tạo Mới", "Create")
            </p>
        </div>
    </div>

    <div id="father">
        <table class="table">
            <tr>
                <th>
                    STT
                </th>
                <th>
                    @Html.ActionLink("Mã TB", "Index", new { sortOrder = ViewBag.MaSortParm })
                </th>
                <th>
                    @Html.ActionLink("Tên TB", "Index", new { sortOrder = ViewBag.MaSortParm })
                </th>
                <th>
                    Qui Cách
                </th>
                <th>
                    Số Lượng Tồn
                </th>
                <th>
                    Số Lượng Thanh Lý
                </th>
                <th>
                    Tập Huấn
                </th>
                <th>
                    Số Seri
                </th>
                <th>
                    Hình Ảnh
                </th>
                <th>
                    Các hành động
                </th>
            </tr>

            @{ var a = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(a++)</td>
                    <td class="dropdown-divider">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#chitiet" aria-expanded="false">
                                    @*<i class="typcn typcn-chevron-left menu-arrow"></i>*@
                                    <span class="menu-title">@Html.DisplayFor(modelItem => item.MATB)</span>
                                </a>
                                <div class="nav">
                                    <div class="nav-item">
                                        <div class="collapse" id="chitiet">
                                            <h4>CHI TIẾT THIẾT BỊ</h4>
                                            <table class="nav flex-column sub-menu">

                                                <tr>
                                                    <th>
                                                        Mã Thiết Bị
                                                    </th>
                                                    <th>
                                                        Tên Thiết Bị
                                                    </th>
                                                    <th>
                                                        Lượng Tồn
                                                    </th>
                                                    <th>
                                                        Lượng Thanh Lý
                                                    </th>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.MATB)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TENTB)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SLTON)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SLTHANHLY)
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TENTB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QUICACH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SLTON)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SLTHANHLY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TAPHUAN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SERIAL)
                    </td>
                    <td>
                        <img src="~/images/thietbi/@item.HINHANH" style="width:50px; height:50px;" />
                        @*@Html.DisplayFor(modelItem => item.HINHANH)*@
                    </td>
                    <td>
                        <a href="/Admin/THIETBIs/Edit?id=@item.MATB" style="text-decoration: none"><i class="menu-icon mdi mdi-pencil"></i></a>
                        <a href="/Admin/THIETBIs/XemChiTiet?matb=@item.MATB" style="text-decoration: none"><i class="menu-icon mdi mdi-content-copy"></i></a>
                        <a href="/Admin/THIETBIs/XoaThietBi?matb=@item.MATB" style="text-decoration: none"><i class="menu-icon mdi mdi-delete"></i></a>

                    </td>
                </tr>
            }

        </table>
    </div>

    <br />
    <h3 class="total">
        Tổng số lượng tồn: @ViewBag.total
    </h3>
    <br />
    @using (Html.BeginForm("DanhSach", "THIETBIs"))
    {
        @Html.AntiForgeryToken()
        <!-- #region Phần Thiết Bị Nhập -->
        <table class="table ChiTietThietBi">
            <tr class="trAppend" style="display:none">
                <td>
                    <select class="ddlThietBi form-select" name="">
                        @foreach (var item in Model)
                        {
                            <option value="@item.MATB">@item.TENTB</option>
                        }
                    </select>
                </td>
                <td>
                    <input name="" class="txtSoLuongTon form-control">
                </td>
                <td>
                    <input name="" class="txtSoLuongTL form-control">
                </td>
                <td>
                    <input class="btnXoa" style="width:30px;height:30px" value="xóa">
                </td>
            </tr>
            <tr class="trFirstChild" data-id="-1">
                <td>Thiết Bị</td>
                <td>Lượng Tồn</td>
                <td>Lượng Thanh Lý</td>
                <td></td>
            </tr>
        </table>
        <input type="button" value="+" class="btn btn-success" id="btnThemThietBi">
        <input type="submit" value="Thanh Lý" class="btn btn-primary" id="btnThemMoiThietBi">
        <!-- #endregion -->
    }
    <br />
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) của @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

<script type="text/javascript">
    function TinhToan() {
        var gam = document.getElementById("gam").value;
        var a = 0.001
        var kq = parseFloat(a) * parseFloat(gam)
        if (!isNaN(kq)) {
            document.getElementById("kg").value = kq;
        }
    }
    // Phần appen
    $("#btnThemThietBi").click(function () {
        // lấy id của tr cuối cùng thuộc thẻ table có class = ChiTietphieuNhap
        // Bước 4: Phương thức find là tìm đến thẻ nào đó: ở đây là thẻ tr (:last-child) là thẻ cuối cùng trong thẻ tblChiTietPhieuNhap
        var id_cuoi = $(".ChiTietThietBi").find("tr:last-child").attr("data-id");
        i = parseInt(id_cuoi) + 1;
        // Bước 1:Nội dung phía trong thẻ trAppend
        var tdnoidung = $(".trAppend").html();
        // Bước 2: Tạo 1 thẻ tr bao ngoài nội dung
        var trnoidung = "<tr class=\"trAppended\" data-id=\"" + i + "\">" + tdnoidung + "</tr>";
        // Bước 3: Lấy thẻ table append vào 1 tr
        $(".ChiTietThietBi").append(trnoidung);
        loadIDHoaChat();
    });

    // Phương thức sử lý lấy thuộc tính attr từ thẻ tr gắn xuống chỉ xố phần tử các trong thuộc tính name của thẻ input
    function loadIDHoaChat() {
        $(".trAppended").each(function () {
            var id = $(this).attr("data-id");
            var nameMaThietBi = "[" + id + "].MATB";
            var nameSoLuongTon = "[" + id + "].SLTON";
            var nameSoLuongThanhLy = "[" + id + "].SLTHANHLY"
            $(this).find(".ddlThietBi").attr("name", nameMaThietBi);
            $(this).find(".txtSoLuongTon").attr("name", nameSoLuongTon);
            $(this).find(".txtSoLuongTL").attr("name", nameSoLuongThanhLy);
        });
    }
    // sử lý sự kiện xóa 1 dòng từ nút delete nằm bên trong thẻ tr
    $("body").on("click", ".btnXoa", function () {
        // Xóa phần tử cha phía ngoài
        $(this).closest(".trAppended").remove();
        CapNhatID();
    });

    function CapNhatID() {
        //Lấy lại tr 1
        var id_cuoi = $(".ChiTietThietBi").find(".trFirstChild").attr("data-id");
        i = parseInt(id_cuoi) + 1;

        $(".trAppendSanPham").each(function () {
            var id = i;
            $(this).attr("data-id", i)
            // cập nhật lại id (tr) khi xóa
            var nameMaThietBi = "[" + id + "].MATB";
            var nameSoLuongTon = "[" + id + "].SLTON";
            var nameSoLuongThanhLy = "[" + id + "].SLTHANHLY";
            $(this).find(".ddlThietBi").attr("name", nameMaThietBi); // gán name cho dropdowlist
            $(this).find(".txtSoLuongTon").attr("name", nameSoLuongTon);
            $(this).find(".txtSoLuongTL").attr("name", nameSoLuongThanhLy);
            i++;
        });
    }
    $("#btnThemMoiThietBi").click(function () {
        if (KiemTraSoLuong() == false) {
            return false;
        }
    })
    // kiểm tra Số lượng xuất lớn hơn 0 và > 0
    function KiemTraSoLuong()
    {
        var bl = true;
        // Duyệt vòng lặp each số lượng tồn
        $(".txtSoLuongTon").each(function () {
            var giatri = $(this).val();
            if (parseFloat(giatri) < 0) {
                alert("Số lượng tồn phải lớn hơn 0");
                bl = false;
                return bl;
            }
            if (isNaN(giatri) == true) {
                alert("Số lượng tồn không hợp lệ !");
                bl = false;
                return bl;
            }
        });

        // Duyệt vòng lặp each số lượng thanh lý
        $(".txtSoLuongTon").each(function () {
            var giatri = $(this).val();
            if (parseFloat(giatri) < 0) {
                alert("Số lượng thanh lý phải lớn hơn 0");
                bl = false;
                return bl;
            }
            if (isNaN(giatri) == true) {
                alert("Số lượng thanh lý không hợp lệ !");
                bl = false;
                return bl;
            }
        });

        return bl;
    }

</script>