@using QL_HDPHONGLAB.Models
@model THIETBI
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="page-title-container">
        <div class="row g-0">
            <div class="col-auto mb-3 mb-md-0 me-auto">
                <div class="w-auto sw-md-30">
                    <h1 class="mb-0 pb-0 display-4" id="titile">Chi Tiết</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-5">
        <h2 class="small-title">Thông Tin Chi Tiết Thiết Bị</h2>
        <div class="card mb-2">
            <div class="row g-0 card-body">
                <div class="col">
                    <div class="ps-4">
                        <div class="row mb-1">
                            <div class="col">
                                <div class="heading text-primary mb-1">Mã Thiết Bị: @Model.MATB</div>
                                <div class="mb-3">Tên Thiết Bị: @Model.TENTB</div>
                                <div class="mb-3">Số Lượng: @Model.SLTON Cái</div>
                                <div class="mb-3">Nội Dung: @Model.QUICACH</div>
                                <div class="mb-3">Số Seri: @Model.SERIAL</div>
                            </div>
                            <div>
                                <a href="/Admin/THIETBIs/Index" class="btn btn-danger">Trở Về</a>
                                <a href="/Admin/THIETBIs/Edit?id=@Model.MATB" class="btn btn-primary">Cập Nhật</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
